//variables color
//colour text
$color-gray: #777777
//main site colours
$color-brown-light: #BA8554
$color-brown-dark: #A14F03

//black and white colour site
$color-gray-light: #F7F7F7
$color-black: rgb(1, 1, 1)
$color-white: #fff


// gradient colours
$gradient-brown_light-brown_dark: rgb(195, 149, 106)
$gradient-brown-black: rgb(186, 133, 84)

//shadow for buttons
$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3)
$shadow-h2: 0 .4rem .4rem rgba($color-black, .25)

//grid variables
$margin-vertical-big: 8rem
$grid-width: 114rem
$gutter-horizontal: 6rem

//typography
$font-size-paragraph: 1.6rem
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem

